{% extends "layout.html" %}

{% block content %}
<script src="/static/scripts/create.js"></script>
<div class="jumbotron">
    <h1>Create</h1>
    <p class="lead">Create new users by entering a name, point amount, and unique ID.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ID</h2>
        <input type="number" name="idfield" id="idfield_create" placeholder="Enter an ID"><br>
    </div>
    <div class="col-md-4">
        <h2>Name</h2>
        <input type="text" name="namefield" id="namefield_create" placeholder="Enter a Name"><br>
    </div>
    <div class="col-md-4">
        <h2>Points</h2>
        <input type="number" name="pointsfield" id="pointsfield_create" placeholder="Enter Points"><br>
    </div>
</div>
<div class="row" style="margin-top:8px">
    <div class="col-md-4">
        <button type="button" class="btn btn-primary" id="createEntryButton">Create User</button>
    </div>
    <div class="col-md-4">
        <div id="addResultPlaceholder"></div>
    </div>
</div>

{% endblock %}
