{% extends "layout.html" %}

{% block content %}
<script src="/static/scripts/display.js"></script>
<div class="jumbotron">
    <h1>Display Data</h1>
    <p class="lead">This page displays all of the users in the table. Click edit to edit users or delete to delete them. WARNING: DELETE DOES NOT PROMPT FOR CONFIRMATION</p>
</div>
<div class="spinner-border text-primary" id="tableLoadingSpinner" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div id="tableContainer">
</div>


{% endblock %}
