{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>CRUD Application</h1>
    <p class="lead">CRUD is a CURD web application that uses SQLite3 to Create, Update, Read, and Display elements from a preset table.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Display Users</h2>
        <p>
            Get started by going to the display tab to view all current entries in the table. You can also edit or delete entries here.
        </p>
        <p><a class="btn btn-default" href="{{url_for('display')}}">Go to Display</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create Users</h2>
        <p>Create new users in the table on the create page, ID is a pkey so keep in mind that they have to be unique but don't worry we'll tell you if you enter an existing ID</p>
        <p><a class="btn btn-default" href="{{url_for('create')}}">Go to Create</a></p>
    </div>
    <div class="col-md-4">
        <h2>Search/Edit</h2>
        <p>You can search for specific users by ID in the Search/Edit page. You can also delete users on this page</p>
        <p><a class="btn btn-default" href="{{url_for('search')}}">Go to Search/Edit</a></p>
    </div>
</div>

{% endblock %}
