<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - CMSC 447 CRUD Application</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <script src="/static/scripts/calls.js"></script>
</head>

<body>
    <nav class="navbar navbar-sticky-top align-items-center navbar-expand-lg bg-body-tertiary">
        <div class="container justify-content-center">
            <a href="/" class="navbar-brand">CRUD</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="{{ url_for('create') }}">Create New User</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('search') }}">Search/Edit</a></li>
                    <li class="nav-item"><a class="nav-link" id="displayButton" href="{{ url_for('display') }}">Display Users</a></li>
                </ul>
                <a class="btn btn-danger" id="resetButton">Drop Table</a>
            </div>
        </div>
    </nav>
    <div id="succesfullyDroppedPlaceholder"></div>

    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>{{ year }} - CMSC 447 CRUD Application</p>
        </footer>
    </div>

    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
