{% extends "layout.html" %}

{% block content %}
<script src="/static/scripts/search.js"></script>
<div class="header">
    <h1>Search/Edit</h1>
    <p class="lead">Welcome to the search page, you can search by Name or ID</p>
</div>

<h2>ID</h2>
<input type="text" name="idfield" id="idfield_search" placeholder="Enter an ID">
<br>
<button type="button" class="btn btn-primary w-25" style="margin-top:5px" id="searchIDButton">Search By ID</button>
<div class="row">
    <h3 id="resultsLabel">Results Will Appear Here</h3>
    <div id="tableContainer"></div>
</div>

{% endblock %}
