{% extends "layout.html" %}

{% block content %}

<div class="header">
    <h1>Search/Edit</h1>
    <p class="lead">Welcome to the search page, you can search by Name or ID</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ID</h2>
        <input type="text" name="idfield" id="idfield_search" placeholder="Enter an ID"><br>
        <a class="btn btn-default" id="searchIDButton">Search By ID</a>
    </div>
    <div class="col-md-4">
        <h2>Name</h2>
        <input type="text" name="namefield" id="namefield_search" placeholder="Enter a Name"><br>
        <a class="btn btn-default" id="searchNameButton">Search By Name</a>
    </div>
</div>
<div class="row">
    <h3>Results Will Appear Here</h3>
    <table id="resultsTable" style="display:none;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
    </table>

</div>

{% endblock %}
